:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f279f;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url(https://images.unsplash.com/photo-1535905313417-483b22cb9d03?fm=jpg&w=3000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGRhcmslMjBhY2FkZW1pYSUyMGxpYnJhcnl8ZW58MHx8MHx8fDA%3D);
  background-size: 100%;
}

h1 {
  font-size: 3.2em;
  color: white;
  line-height: 1.1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.formDiv {
  padding: 20px;
  width: 60%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, .4);
  
  border: 1px solid white;
}

.formDiv h3 {
  margin: 0 0 10px;
  font-size: 1.2em;
}

.inputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputForm label {
  margin: 10px 0 5px;
  font-weight: bold;
}

.inputForm input {
  padding: 8px;
  font-size: 1em;
  border: 1px solid orange;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}

.inputForm button {
  margin-top: 15px;
  padding: 10px;
  font-size: 1em;
  color: #fff;
  background-color: #5b9bd5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
.inputForm button:hover {
  background-color: #4a8ac4;
}

.bookshelfDiv {
  padding: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookCardsDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 20px;
}

.bookCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid orange;
  padding: 5px;
  height: 200px;
  width: 130px;
  margin: 15px 10px;
  background: rgba(117, 112, 112, 0.8);
  color: black;
}
.bookCard:hover {
  transform: scale(1.10);
  font-weight: bolder;
  background-color: orange;
}

.bookCard p {
  margin: 5px 0;
}

.bookCard .author {
  color: white;
}